<section>
  <p>Do you have a love for JavaScript? Do you want to hear people talk about JavaScript? Do you want to converse with others who know or are learning... JavaScript? Then Queens JS is the place for you! On the first Wednesday of every month, programmers from all over New York City gather in New York's largest borough to discuss the passions and pitfalls of the language that is everywhere, JavaScript.</p>
</section>
<section class="current">
  <h2>Next Event</h2>
  <p></p>
</section>