<!DOCTYPE html>
<html>
  <head>
    <title>Queens JS</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
  </head>
  <body>
    <img class="logo" src="/images/queens-js-final.svg" alt="Queens JS Logo">
    <h1>Queens JS</h1>
    <nav>
      <ul>
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">Become a Speaker</a></li>
        <li><a href="#">Sponsorships</a></li>
        <li><a href="#">Past Events</a></li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>